.searchbar-container {
  position: relative;
  left: 415px;
  top: 30px;
  width: 30%;
  min-width: 435px;
  display: block;
}

.searchbar {
  border-bottom: 1px solid black;
}

.searchbar > input {
  border: 0;
  width: 82%;
  padding: 0.5rem;
  background-color: transparent;
}

select {
  border: 0;
  padding: 0.5rem 0 0 0.5rem;
  background-color: transparent;
  appearance: none;
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
}

@media screen and (max-width: 1020px) {
  .searchbar {
    display: none;
  }
}
